<header class="relative flex flex-col md:flex-row justify-between items-start md:items-end mb-14 py-10 w-full">
    {%- if page.layout == 'home' -%}
    <h1 class="font-sans font-black text-5xl md:text-6xl dark:text-white text-left">
      {{- site.title -}}
    </h1>
    {%- else -%}
    <a class="inline-block text-5xl md:text-6xl font-sans font-black text-left"
       href="{{ '/' | relative_url }}">
      <span class="bg-clip-text text-transparent bg-gradient-to-r
                   from-rose-400 to-purple-800
                   dark:from-pink-300 dark:to-violet-300">
        {{- site.title -}}
      </span>
    </a>
    {%- endif -%}
  
    <!-- Mobile byline & logo (only on small screens) -->
    <div class="md:hidden relative w-full mt-[-1rem] z-10 flex items-end justify-between pb-2">
      <span class="flex items-end">
        <span class="mr-1">by</span>
        <span class="bg-clip-text text-transparent bg-gradient-to-r
                     from-rose-400 to-purple-800
                     dark:from-pink-300 dark:to-violet-300
                     font-bold whitespace-nowrap">
          Eve Death
        </span>
      </span>
      <img class="h-auto max-w-[140px]"
           src="{{ site.author.logo }}"
           alt="{{ site.author.name }}">
    </div>
  
    <!-- Desktop byline & logo (only on md+ screens) -->
    <div class="hidden md:flex items-end mt-4 md:mt-0">
      <span class="flex items-end">
        <span class="mr-1">by</span>
        <span class="bg-clip-text text-transparent bg-gradient-to-r
                     from-rose-400 to-purple-800
                     dark:from-pink-300 dark:to-violet-300
                     font-bold whitespace-nowrap">
          Eve Death
        </span>
      </span>
      <img class="ml-2 h-auto max-w-[140px]"
           src="{{ site.author.logo }}"
           alt="{{ site.author.name }}">
    </div>
  </header>